<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Mobile Web Project">

    <test name="Android Native Testing" preserve-order="true">


        <classes>
            <class name="Main">
                <methods>

                    <include name="launchAndroid"></include>
                    <include name="verifySetUpRoomba"></include>

                    <include name="verifyAppLang"></include>

                    <include name="verifyAAutomaticSet"></include>

                    <include name="verifyStayInfo"></include>
                    <include name="verifyAboutApp"></include>
                    <include name="clickOnsetUp"></include>
                    <include name="clickOnNext"></include>
                    <include name="clickOnNextHomeBase"></include>
                    <!--  <include name="clickOnWakeUpRoomba"></include>  -->
                   <include name="clickOnLetsGo"></include>
                    <include name="clickOnConfirmContinue"></include>
                    <include name="enterPasss"></include>
                    <include name="clickOnPassContinue"></include>
                    <include name="enterRoombaName"></include>
                    <include name="enterEmailID"></include>
                    <include name="submitProvision"></include>

                 </methods>
              </class>


          </classes>
      </test>


  </suite>